
<div class="container-fluid">
    <div class="float-right mb-2 mt-2">
        <button mat-raised-button (click)="editArticle(null)" class="dark">Ajouter <mat-icon>add</mat-icon></button>
    </div>
    <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 container-fluid">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="titre">
            <th mat-header-cell *matHeaderCellDef> TITRE </th>
            <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
          </ng-container>
          <ng-container matColumnDef="dateCreation">
            <th mat-header-cell *matHeaderCellDef> D. CREATION </th>
            <td mat-cell *matCellDef="let element"> {{element.dateCreation | date:"dd/MM/yyyy H:mm:ss"}} </td>
          </ng-container>
          <ng-container matColumnDef="dateModification">
            <th mat-header-cell *matHeaderCellDef> D. MODIFICATION </th>
            <td mat-cell *matCellDef="let element"> {{element.dateModification | date:"dd/MM/yyyy H:mm:ss"}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> ACTION </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="editArticle(element)">
                    <mat-icon >edit</mat-icon>
                </button>
                <button (click)="delete(element)" mat-icon-button>
                    <mat-icon >delete</mat-icon>
                </button>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>